.main-navigation {
  display: none;
}

.active {
  color: blueviolet;
}

ul {
  display: flex;
}

.navLink {
  padding: 2rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
  /* color: #333; */
  color: #f5f5f5;
  /* color: #eea47f; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}

.navLink:hover {
  color: #eea47f;
}

@media only screen and (min-width: 620px) {
  .main-navigation {
    display: block;
  }
}

@media only screen and (min-width: 820px) {
  .navLink {
    padding: 2rem;

    font-size: 0.9rem;
  }
}
