@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

body {
  /* background: linear-gradient(to right, #001f3f, #003366); */
  background: #212529;
  color: #ffffff;
}
